<div align="center" (tap)="onTap($event)" (swiperight)="onSwipeRight($event)" (swipeleft)="onSwipeLeft($event)">
          
   <mat-slider #slider
                      (input)="onInputChange($event)"
                      [thumbLabel] = "true"
                      [displayWith]="formatLabel"
                      tickInterval="1"
                      min="0"
                      [max]="max">

          </mat-slider>
  <div [ngClass]="{'mat-body-1': isMobile, 'mat-display-1': !isMobile}" class="center">
     <h2 #verseTitle>{{verses[slideNumber]['verse_title']}}</h2>
     <p *ngFor="let line of verses[slideNumber]['lines']">{{line}}</p>
   </div>
</div>
