.mat-display-1, .mat-body-1{
  /*font-family: outline;*/
  color: white;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  font-weight: bolder;
}

.mat-display-2{
  font-family: outline;
  color: red;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  font-weight: bolder;


}
