<div class="container">
 <div class="card-columns" > 
    <div class="card "  *ngFor="let item of youtube">
        <div class="card-header">
             <a [href]="getSafeSrc(item.id.videoId)" target="_blank"><h1 class="card-title">{{item.snippet.title}}</h1></a>
        </div>
        <div class="card-body">       
            <a [href]="getSafeSrcChannel(item.snippet.channelId)"  target="_blank" ><h3 class="card-subtitle">{{item.snippet.channelTitle}}</h3></a>
            <p class="card-text">{{item.snippet.description}}</p>
            <a [href]="getSafeSrc(item.id.videoId)" target="_blank" class="btn btn-success">PLAY</a>
        </div>
        <div class="card-footer">
          <a [href]="getSafeSrcChannel(item.snippet.channelId)"  target="_blank" class="btn btn-primary">MORE VIDEOS LIKE THIS</a>
        </div>       
    </div>
 </div>
</div>

