<div class="mdc-layout-grid-gutter-desktop">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
                    
        <mat-drawer-container [ngStyle]="{background: 'url(../assets/images/flowers/' + currentImage + ')'}" class="example-container" autosize>
              <mat-drawer [ngClass]="{'example-sidenav-mobile': isMobile, 'example-sidenav-desktop': !isMobile}" #drawer mode="side">

                  <button type="button" mat-button (click)="closeDrawer($event)">
                    <span class="material-icons">close</span>
                  </button>

                <form class="example-form">
                            <mat-form-field class="example-full-width">

                              <input matInput type = "text" #inputElement
                                     [(ngModel)]="value"
                                     placeholder = "Pick a hymn"
                                     aria-label = "Number"
                                     matInput
                                     [formControl] = "myControl"
                                     [matAutocomplete] = "auto">
                              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                    <mat-icon>close</mat-icon>
                              </button>
                              <mat-autocomplete #auto = "matAutocomplete" (optionSelected)="itemSelected($event.option.value)">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                  {{option}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                 </form>
                <mat-accordion>
      <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>info</mat-icon>Hymn Info
                </mat-panel-title>


              </mat-expansion-panel-header>

              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{hymnsJson[currentHymn]['number'] + " - " + hymnsJson[currentHymn]['title']}}</mat-card-title>
                  <mat-card-subtitle>{{hymnsJson[currentHymn]['topic']}}</mat-card-subtitle>

                </mat-card-header>
                <img mat-card-image src="/assets/images/008.png" alt="Photo of We Gather Together">
                <mat-card-content>
                  <p><span>Scripture: </span>{{hymnsJson[currentHymn]['hymn_info']['scripture']}}</p>
                  <p>
                    <span>Author/s: </span>
                    <span><button *ngFor="let author of hymnsJson[currentHymn]['hymn_info']['authors']">
                      {{author.name}}
                    </button> </span>
                  </p>
                  <p><span>Composer: </span>{{hymnsJson[currentHymn]['hymn_info']['composer'].name}}</p>
                  <p ><span>Tune: </span>{{hymnsJson[currentHymn]['hymn_info']['tune']}}</p>
                  <p><span>Meter: </span>{{hymnsJson[currentHymn]['hymn_info']['meter']}}</p>
                  <p ><span>Copyright: </span> {{hymnsJson[currentHymn]['hymn_info']['copyright']}}</p>


                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>MORE INFO</button>
                </mat-card-actions>
              </mat-card>


            </mat-expansion-panel >

           <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>movie</mat-icon>Watch
                </mat-panel-title>

              </mat-expansion-panel-header>
                 <app-youtube [message]="{filename: hymnsJson[currentHymn]['title']}"></app-youtube>
                    

            </mat-expansion-panel>

 <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>audiotrack</mat-icon>Listen
                </mat-panel-title>

              </mat-expansion-panel-header>

			<mat-tab-group>
			  <mat-tab>
			    <ng-template mat-tab-label>
                <mat-icon svgIcon="spotify" aria-hidden="false" aria-label="spotify icon"></mat-icon>
			      Spotify
			    </ng-template>
			  <app-spotify [message]="{filename: hymnsJson[currentHymn]['spotify']}"></app-spotify>
			  </mat-tab>

			  <mat-tab>
			    <ng-template mat-tab-label>
                <mat-icon svgIcon="itunes" aria-hidden="false" aria-label="itunes icon"></mat-icon>
			      Itunes
			    </ng-template>
			   <app-itunes [message]="{filename: hymnsJson[currentHymn]['itunes']}"></app-itunes>
			  </mat-tab>

			</mat-tab-group>

            
          

            </mat-expansion-panel>

                </mat-accordion>

              </mat-drawer>

              <div class="example-sidenav-content">
                  <button type="button" mat-button (click)="openDrawer($event)">
            <span class="material-icons">menu</span>
          </button>
          <span class='mat-subheading-2'>{{hymnsJson[currentHymn]['number'] + " - " + hymnsJson[currentHymn]['title']}}</span>

              </div>
          <app-slideshow [message]="hymnsJson[currentHymn]['verses']"></app-slideshow>
  
        </mat-drawer-container>
   
    </div>

  </div>
</div>
