<<<<<<< HEAD
.closeButton{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
} 
=======
.closeButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%
}
>>>>>>> refs/remotes/origin/master
.tp-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.tp-full-width {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-sidenav-desktop{
  background-color: white;
  width: 30%;
}
.example-sidenav-mobile {
  width: 100%;
  background-color: white;
}


.mat-subheading-2{
  font-family: mutant_academyBB;
  color: white;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  font-weight: bold;
}

/*.mdc-layout-grid__cell{*/
/*  position: relative;*/
/*}*/
.example-container{
  background-image: url(../assets/images/flowers/IMG_20181124_163549.jpg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top:0;
  width: 100%;
  bottom: 0;
}



.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-card {
  width: 100%;
}

.example-header-image {
  background-image: url(../assets/images/profile.png);
  background-size: cover;
}

/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-chip {
  max-width: 200px;
}
