<!--<div class="jumbotron text-center" style="margin-bottom:0">-->
<!--  <h1>{{title}}</h1>-->
<!--  <p>{{subtitle}}</p>-->
<!--</div>-->

<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">-->
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="collapsibleNavbar">-->
<!--    <ul class="navbar-nav">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
      <mat-drawer-container class="example-container"  autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type = "text" #inputElement
                     placeholder = "Pick a hymn"
                     aria-label = "Number"
                     matInput
                     [formControl] = "myControl"
                     [matAutocomplete] = "auto">
              <mat-autocomplete #auto = "matAutocomplete" (optionSelected)="itemSelected($event.option.value)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <!--          <p>Auto-resizing sidenav</p>-->
          <!--          <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-->
          <!--          <button (click)="showFiller = !showFiller" mat-raised-button>-->
          <!--            Toggle extra text-->
          <!--          </button>-->
                      <h1>{{hymnsJson[currentHymn]['number'] + " - " + hymnsJson[currentHymn]['title']}}</h1>
          <h2>{{hymnsJson[currentHymn]['topic']}}</h2>
          <h3>{{hymnsJson[currentHymn]['hymn_info']['scripture']}}</h3>
          <h4 *ngFor="let author of hymnsJson[currentHymn]['hymn_info']['authors']">
            {{author.name}}
          </h4>
          <h5 >{{hymnsJson[currentHymn]['hymn_info']['composer'].name}}</h5>
          <h6 >{{hymnsJson[currentHymn]['hymn_info']['tune']}}</h6>
          <h6 >{{hymnsJson[currentHymn]['hymn_info']['meter']}}</h6>
          <h6 >{{hymnsJson[currentHymn]['hymn_info']['copyright']}}</h6>


          <!--          <h3>{{hymnsJson[currentHymn]['hymn-info']['scripture']}}</h3>-->


        </mat-drawer>

        <div class="example-sidenav-content" >
          <button type="button" mat-button (click)="drawer.toggle()">
            <span class="material-icons">search</span>
          </button>
          <span>{{hymnsJson[currentHymn]['number'] + " - " + hymnsJson[currentHymn]['title']}}</span>




        </div>

            <div ngModel="totalVerses" align="center"
                 (swipeleft)="onSwipeLeft($event)"
                 (swiperight)="onSwipeRight($event)">
              <h2 #verseTitle >{{hymnsJson[currentHymn]['verses'][slideNumber]['verse_title']}}</h2>
              <mat-slider #slider
                          (input)="onInputChange($event)"
                          thumbLabel
                          [displayWith]="formatLabel"
                          tickInterval="1"
                          min="0"
                          max="{{hymnsJson[currentHymn]['verses'].length - 1}}">

              </mat-slider>
              <h1 class='display-1' *ngFor="let line of hymnsJson[currentHymn]['verses'][slideNumber]['lines']">
                {{line}}
              </h1>
            </div>



      </mat-drawer-container>

    </div>

  </div>
</div>
