<router-outlet>

<div class="mdc-layout-grid-gutter-desktop">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
                    
        <mat-drawer-container [ngStyle]="objExp" class="example-container">
              <mat-drawer [ngClass]="{'example-sidenav-mobile': isMobile, 'example-sidenav-desktop': !isMobile}" #drawer mode="side">


                 <div class="closeButton"> <button *ngIf="isDrawerOpen" type="button" mat-button (click)="closeDrawer()">
                    <mat-icon>west</mat-icon>
                  </button></div>
                 
                <form >
                            <mat-form-field >

                              <input (focus)="restoreOptions($event)" id="inputSearch" matInput type = "text" #inputElement
                                     [(ngModel)]="value"
                                     placeholder = "Pick a hymn"
                                     aria-label = "Number"
                                     matInput
                                     [formControl] = "myControl"
                                     [matAutocomplete] = "auto">
                             <!-- <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                    <mat-icon>close</mat-icon>
                              </button>-->
                              <mat-autocomplete #auto = "matAutocomplete" (optionSelected)="itemSelected($event.option.value)">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                  {{option}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                 </form>
                <mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>info</mat-icon>Wikipedia
                </mat-panel-title>

              </mat-expansion-panel-header>
                 
              <ng-template matExpansionPanelContent>
                    <app-hymn-info [message]="{filename: hymnsJson[currentHymn]['title']}"></app-hymn-info>
              </ng-template>          
    <ng-template matExpansionPanelContent>
                  
              </ng-template>             
            </mat-expansion-panel>

           <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>movie</mat-icon>Watch
                </mat-panel-title>

              </mat-expansion-panel-header>
                 
              <ng-template matExpansionPanelContent>
                    <app-youtube [message]="{filename: hymnsJson[currentHymn]['title']}"></app-youtube>
              </ng-template>          
    <ng-template matExpansionPanelContent>
                  
              </ng-template>             
            </mat-expansion-panel>

 <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>audiotrack</mat-icon>Listen
                </mat-panel-title>

              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mat-tab-group>
			      <mat-tab>
			        <ng-template mat-tab-label>
                    <mat-icon svgIcon="spotify" aria-hidden="false" aria-label="spotify icon"></mat-icon>
			          Spotify
			        </ng-template>
                      <ng-template matTabContent>
                          <app-spotify [message]="{filename: hymnsJson[currentHymn]['spotify']}"></app-spotify>
                        </ng-template>
			     
			      </mat-tab>

			      <mat-tab>
			        <ng-template mat-tab-label>
                    <mat-icon svgIcon="itunes" aria-hidden="false" aria-label="itunes icon"></mat-icon>
			          Itunes
			        </ng-template>
                    <ng-template matTabContent>
        			       <app-itunes [message]="{filename: hymnsJson[currentHymn]['itunes']}"></app-itunes>
                     </ng-template>

			      </mat-tab>

			    </mat-tab-group>              
              </ng-template>   

			

            
          

            </mat-expansion-panel>

<!--

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                   <mat-icon svgIcon="music-sheet" aria-hidden="false" aria-label="music-sheet icon"></mat-icon>Music Sheet
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <app-music-sheet></app-music-sheet>
              </ng-template>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                   <mat-icon>settings</mat-icon>Settings
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <app-settings></app-settings>
              </ng-template>
            </mat-expansion-panel>
--> 
            

  <mat-expansion-panel>
              <mat-expansion-panel-header>
                   <mat-icon>cloud_download</mat-icon>Downloads
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <app-downloads></app-downloads>
              </ng-template>
            </mat-expansion-panel>
            
            

 
 <mat-expansion-panel>
              <mat-expansion-panel-header>
                   <mat-icon>history</mat-icon>History
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <app-history [message]="{recentItem: {title: hymnsJson[currentHymn]['title'], number: hymnsJson[currentHymn]['number']}}"></app-history>
              </ng-template>
            </mat-expansion-panel>

 <mat-expansion-panel>
              <mat-expansion-panel-header>
                   <mat-icon>help</mat-icon>Help
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <app-help ></app-help>
              </ng-template>
            </mat-expansion-panel>
                        
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                   <mat-icon>links</mat-icon>Links
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <app-links></app-links>
              </ng-template>
            </mat-expansion-panel>
                 
                </mat-accordion>

<footer style="padding-top: 100px; width:100%; text-align: center;">
<span>Copyright © {{getCopyRightYear()}} Giovanni Saberon</span>
</footer>
              </mat-drawer>

              <div class="example-sidenav-content">
                  <button *ngIf="isDrawerClose" type="button" mat-button (click)="openDrawer()" >
						<span class="material-icons" >menu</span>
				  </button>
				  <button *ngIf="isDrawerOpen" type="button" mat-button (click)="closeDrawer()">
                    <span class="material-icons">close</span>
                  </button>
          <span class='mat-subheading-2'>{{hymnsJson[currentHymn]['number'] + " - " + hymnsJson[currentHymn]['title']}}</span>

              </div>
          <app-slideshow [message]="hymnsJson[currentHymn]['verses']" (messageEvent)="receiveMessage($event)"></app-slideshow>
  
        </mat-drawer-container>
   
    </div>

  </div>
</div>
</router-outlet>
