<a target="_blank" href='https://play.google.com/store/apps/details?id=com.giovannisaberon.simplehymn&hl=en&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' width="50%" src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>


<a href="https://gallery.fitbit.com/details/7ea91d6c-3c02-4a49-ac9a-ceb9ed86c420" target="_blank"><img src="https://img.icons8.com/color/48/000000/fitbit.png"/></a>

<a href="https://gallery.fitbit.com/details/7ea91d6c-3c02-4a49-ac9a-ceb9ed86c420" target="_blank"><img src="assets/images/example/galaxystorebadge.png"/></a>
